@page
@model IndexModel
@{
    ViewData["Title"] = "Hello";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p><img src="https://c.tenor.com/xCFYATyYG8gAAAAC/hello-bear.gif"/></p>
</div>
